.comment-title {
    font-weight: 600;
}

.button-div{
    display: inline-block;
  }

.msg-name{
    font-weight: bold
}

.upvote-btn{
    width:28px;
    height:24px;
    padding-right: 10px;
    float: left;
}

.upvotes{
    margin: 0;
    float: left;
  }

.reply-btn{
    padding: 0;
    margin-left: 1em;
    border: none;
    background: none;
    float: left;
    font-weight: 600;
    color: #4752c4;
}

.replies-div{
    padding-left: 2em;
    margin-left: 0.5em;
    border-left: 2px solid #ccc;
}